@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #fff;

  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  background-color: transparent;
  border-radius: 4px;
  color: #e3e6f3;
  cursor: pointer;
  border: 1px solid rgb(227, 197, 3);
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 15px 15px rgba(67, 18, 189, 0.3);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 20px;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  font-size: 16px;
  color: #2e2e2e;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #128553;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #128553;
  position: absolute;
  left: 20px;
  bottom: -4px;
}
#mobile {
  display: none;
  align-items: center;
}
#hero {
  background-image: url("img/hero4.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% left 20%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero * {
  color: #e3e6f3;
  padding-bottom: 10px;
}
#hero h1 {
  color: #c05711;
}
#hero button {
  background-image: url(img/button.png);
  background-color: transparent;
  color: #c05711;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(11, 11, 11, 0.3);
  border-radius: 4px;
  border: 1px solid #839586;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(11, 11, 11, 0.3);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(39, 41, 41);
  background-color: rgb(170, 234, 248);
}
#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(225, 209, 234);
}
#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(151, 207, 171);
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(164, 195, 218);
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(225, 209, 234);
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(248, 207, 177);
}
#product1 {
  text-align: center;
}
#product1 .pro-contaniner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  justify-content: space-between;
}

#product1 .pro {
  width: 20%;
  height: 400px;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(149, 138, 138, 0.7);
}
#product1 .pro img {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(203, 200, 200, 0.6);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #223d26;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #2c2e2c;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: #fec803;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 14px;
  font-weight: 700;
  color: #128553;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: hwb(102 87% 5%);
  font-weight: 500;
  color: #128553;
  border: 1px solid #f1faf6;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #3f13dd;
}
#banner button:hover {
  background-color: rgb(17, 68, 15);
  color: #e3e6f3;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(img/banner/b5.jpg);

  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url(img/banner/b6.jpg);
}
#sm-banner .banner-box:hover button {
  background-color: #128553;
  color: #e3e6f3;
  border: 2px solid rgb(223, 216, 16);
}
#sm-banner h4 {
  font-size: 20px;
  color: #f8a409;
  font-weight: 400;
}
#sm-banner h2 {
  font-size: 30px;
  color: #f8a409;
  font-weight: 800;
}

#sm-banner span {
  font-size: 14px;
  color: #f8a409;
  font-weight: 500;
  padding-bottom: 15px;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(img/banner/b5.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(img/banner/b6.jpg);
}
#banner3 h2 {
  color: #f1faf6;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #edad0b;
  font-weight: 800;
  font-size: 15px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgb(19, 19, 43);
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #e3e6f3;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #b6b8c1;
}
#newsletter p span {
  color: #e3b80a;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: rgb(17, 120, 17);
  color: #b6b8c1;
  white-space: nowrap;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 20px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin: 0 0 8px 0;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #223d26;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088278;
  border-radius: 6px;
}
footer .install {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #3f13dd;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page */
#page-header {
  background-image: url(img/banner/b7.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: #e4e6f1;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: rgb(20, 67, 10);
  padding: 15px 20px;
  border-radius: 4px;
  color: #b6b8c1;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* singleProduct */

#productDetails {
  display: flex;
  margin-top: 20px;
}
#productDetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-pro-img img {
  height: 370px;
}
.small-img-col img {
  height: 100px;
}
#productDetails .singel-pro-details {
  width: 50%;
  padding-top: 30px;
}
#productDetails .singel-pro-details h4 {
  padding: 40px 0 20px 0;
}
#productDetails .singel-pro-details h2 {
  font-size: 26px;
}
#productDetails .singel-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#productDetails .singel-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#productDetails .singel-pro-details button {
  background-color: rgb(12, 110, 14);
  color: #fff;
}
#productDetails .singel-pro-details span {
  font-size: 20px;
}
/* Blog Page */
#page-header.blog-header {
  background-image: url(img/banner/b8.jpg);
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #128553;
}
#blog .blog-details a:hover::after {
  background-color: #128553;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -7;
}

/* About Page */
#page-header.about-header {
  background-image: url(img/about/banner.jpg);
}
#about-header {
  display: flex;
  align-items: center;
}
#about-header img {
  width: 100%;
  height: auto;
}
#about-header div {
  margin-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app .video {
  width: 100%;
  height: 70%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contacat <Page */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 22px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details i {
  font-size: 16px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

/*media query*/
@media (max-width: 821px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-contaniner {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px 15px;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #newsletter .from {
    width: 70%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
  /* Single product */
  #productDetails {
    display: flex;
    flex-direction: column;
  }
  .single-pro-img img {
    height: 400px;
  }
  .small-img-col img {
    height: 200px;
  }
  #productDetails .single-pro-img {
    width: 100%;
    margin-right: 0px;
  }
  #productDetails .singel-pro-details {
    width: 100%;
  }
  /* Blog Page */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* About Page */
  #about-header {
    flex-direction: column;
  }
  #about-header img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-header div {
    padding-left: 0px;
  }
}
